<template>
    <div class="le_comps_core_css">
        <h4 class="le_page_name"><%= data.tableTitle %></h4>
        <div class='le_list_search_pannel clearfix'>
            <%_ data.cols.forEach(function(row){ -%>
            <div class="<%= 'col' + data.colsCount %>"><%_ %>
            <%_ row.forEach(function(col){ -%>
                <%_ if(col.type == "text"){ -%>
                <le-input<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ -%>
                        <%_  %> placeholder = "<%= col.placeholder %>" <%_  -%>
                    <%_ } -%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<% col.labelWidth %>"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%= col.key %>"<%_  -%>
                    <%_ } -%>></le-input>
                <%_ } -%>
                <%_ if(col.type == "select"){ -%>
                <le-local-select<%  _%>
                            <%_ if(col.placeholder && col.placeholder != ''){ _%>
                                <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                                <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.label && col.label != ''){ -%>
                                <%_  %> label="<%= col.label %>:"<%  -%>
                            <%_ } _%>
                            <%_ if(col.key && col.key != ''){ -%>
                                <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.dataSource && col.dataSource != ''){ -%>
                                <%_  %> :data-source="dataSource.<%= col.dataSource %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayName && col.displayName != ''){ -%>
                                <%_  %> display-name="<%= col.displayName %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayValue && col.displayValue != ''){ -%>
                                <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                            <%_ } _%>></le-local-select>
                <%_ } -%>
                <%_ if(col.type == "radioList"){ -%>
                <le-radio-list<%  _%>
                        <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                            <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.label && col.label != ''){ -%>
                            <%_  %> label="<%= col.label %>:"<%  -%>
                        <%_ } _%>
                        <%_ if(col.key && col.key != ''){ -%>
                            <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.dataSource && col.dataSource != ''){ -%>
                            <%_  %> :data-source="dataSource.<%= col.dataSource %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayName && col.displayName != ''){ -%>
                            <%_  %> display-name="<%= col.displayName %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayValue && col.displayValue != ''){ -%>
                            <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                        <%_ } _%>></le-radio-list>
                <%_ } -%>
                <%_ if(col.type == "checkboxList"){ -%>
                <le-checkbox-list<%  _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.dataSource && col.dataSource != ''){ -%>
                        <%_  %> :data-source="dataSource.<%= col.dataSource %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayName && col.displayName != ''){ -%>
                        <%_  %> display-name="<%= col.displayName %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayValue && col.displayValue != ''){ -%>
                        <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                    <%_ } _%>></le-checkbox-list>
                <%_ } -%>
                <%_ if(col.type == "datepicker"){ -%>
                <le-date-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>></le-date-picker>
                <%_ } -%>
                <%_ if(col.type == "timepicker"){ -%>
                <le-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>></le-time-picker>
                <%_ } _%>
                <%_ if(col.type == "dateTimepicker"){ -%>
                <le-date-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.key && col.key != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.key%>"<%  -%>
                    <%_ } _%>
                ></le-date-time-picker>
                <%_ } _%>
            <%_ }) _%>
            </div>
        <%_ _%><% }) -%>
        </div>
        <div class="le_search_btn_group cleatfix">
        <%_ data.btn.forEach(function(item){ -%>
            <le-button type="<%= item.btnType %>" value="<%= item.btnName %>" @click="<%= item.btnHandle %>"></le-button>
        <%_ }) _%>
        </div>
        <div class='le_table_container'>
            <table-list title="<%= data.tableTitle %>" ref='<%= data.pageName %>_ref' :options='<%= data.tableOptionsName %>'></table-list>
        </div>
        <%_ if(data.hasDialog && data.hasDialog == '1'){ _%>
        <le-dialog v-model = "dialogTag" title = "<%= data.tableTitle %>">
            <div slot = "body">
        <%_ _%><%- include(data.viewFolderPath + "/form",{data:data.form.cols,isSavePage:false}) %>
            </div>
            <div slot="button">
                <le-button type="cancel" value="取消" @click = "dialogCancel"></le-button>
                <le-button type="save" value="确定"  @click = "dialogConfirm"></le-button>   
            </div>
        </le-dialog>
        <%_ } -%>
    </div>
</template>
<script>
import CommonUtil from '@util';
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapActions,mapMutations } = createNamespacedHelpers('<%= moduleName %>Store');
export default {
    name:"<%= data.pageName %>",
    data(){
        return {
            // 搜索条件
            searchModel:{
                <%_ data.cols.forEach(function(row){ -%>
                    <%_ row.forEach(function(col){ -%>
                        <%_ if(col.key && col.key != ""){ -%>
                            <%_ %><%= col.key %> : "",
                        <%_ } -%>
                    <%_ }) -%>
                <%_ }) -%>
            },
            // dialog v-model的值 控制dialog显示/隐藏
            <%_ if(data.hasDialog && data.hasDialog == '1'){ -%>
            dialogTag:false,
            <%_ } -%>
            // 表格的配置
            <%= data.tableOptionsName %>:<%- data.tableOptions -%>
        }
    },
    computed:{
        ...mapState(["dataSource"<%_ if(data.hasDialog && data.hasDialog == '1'){ -%>,"entity"<%_ } -%>])
    },
    methods:{
        ...mapActions([
        <%_ data.action.forEach(function(actionName){ -%>
                "<%=  actionName -%>",
        <%_ }) -%>
        ]),
        search(){
            this.$refs["<%= data.pageName %>_ref"].search();
        },
        <%_ data.btn.forEach(function(item){ -%>
        <%= item.btnHandle %>(){
            
        },
        <%_ }) -%>
        <%_ if(data.hasDialog && data.hasDialog == '1'){ _%>
        dialogConfirm(){},
        dialogCancel(){},
        <%_ } -%>
            

    },
    mounted(){
        <%_ data.action.forEach(function(actionName){ -%>
        this.<%= actionName -%>();
        <%_ }) -%>
    }
}
</script>
<style scoped>
    
</style>
