<template>
    <div class="le_comps_core_css new_page_width">
        <h4 class="le_page_name"><%= data.pageName %></h4>
    <%_ _%><%- include(data.viewFolderPath + "/form",{data:data.form.cols,isSavePage : true}) %>
        <div class="le_new_page_btn_group">
            <le-button type = "back" value = "返回" @click = "goBack"></le-button>
            <le-button type = "save" value = "保存" @click = "save"></le-button>
        </div>
    </div>
</template>
<script>
import CommonUtil from '@util';
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapActions,mapMutations } = createNamespacedHelpers('<%= moduleName %>Store');
export default {
    name:"<%= data.pageName %>",
    data(){
        return {
           
        }
    },
    computed:{
        ...mapState(["selectDataSource","entity"]),
        isEdit(){
            return this.$route.params.tag == "edit";
        },
        isCreate(){
            return this.$route.params.tag == "create";
        },
        isDetail(){
            return this.$route.params.tag == "detail";
        },
    },
    methods:{
        ...mapActions([
            "doCreate",
            "getInfo",
            "doUpdate",
    <%_ data.action.forEach(function(actionName){ -%>
            "<%= actionName -%>",
    <%_ }) -%>
        ]),
        save(){
            if(this.isCreate){
                this.doCreate()
                    .then((d)=>{
                        this.alert.showAlert("success","新建成功");
                        this.goBack();
                    })
            }
            if(this.isEdit){
                this.doUpdate()
                    .then((d) => {
                        this.alert.showAlert("success","修改成功");
                        this.goBack();
                    })
            }
        },
        getDetail(){
            this.getInfo({
                context:this,
                params:{

                }
            })
        },
        goBack(){
            this.$router.go(-1);
        },
    },
    mounted(){
    <%_ data.action.forEach(function(actionName){ -%>
            this.<%= actionName -%>();
    <%_ }) -%>
        this.$refs.saveForm.reset();
        if(this.isEdit || this.isDetail){
            this.getDetail();
        }
    }
}
</script>
<style scoped>
    .new_page_width{
        width:80%;
        margin:0 auto;
    }
</style>
    