<template>
    <div class="le_comps_core_css">
        <h4 class="le_page_name"><%= data.pageTitle %></h4>
        <div class='le_list_search_pannel clearfix'>
            <%_ data.searchModel.forEach(function(col){ -%>
            <div class="col3"><%_ %>
                <%_ if(col.type == "text"){ -%>
                <le-input<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ -%>
                        <%_  %> placeholder = "<%= col.placeholder %>" <%_  -%>
                    <%_ } -%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<% col.labelWidth %>"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%= col.field %>"<%_  -%>
                    <%_ } -%>></le-input>
                <%_ } -%>
                <%_ if(col.type == "select"){ -%>
                <le-local-select<%  _%>
                            <%_ if(col.placeholder && col.placeholder != ''){ _%>
                                <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                                <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.label && col.label != ''){ -%>
                                <%_  %> label="<%= col.label %>:"<%  -%>
                            <%_ } _%>
                            <%_ if(col.field && col.field != ''){ -%>
                                <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.dataSource && col.dataSource != ''){ -%>
                                <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayName && col.displayName != ''){ -%>
                                <%_  %> display-name="<%= col.displayName %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayValue && col.displayValue != ''){ -%>
                                <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                            <%_ } _%>></le-local-select>
                <%_ } -%>
                <%_ if(col.type == "radio"){ -%>
                <le-radio-list<%  _%>
                        <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                            <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.label && col.label != ''){ -%>
                            <%_  %> label="<%= col.label %>:"<%  -%>
                        <%_ } _%>
                        <%_ if(col.field && col.field != ''){ -%>
                            <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.dataSource && col.dataSource != ''){ -%>
                            <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayName && col.displayName != ''){ -%>
                            <%_  %> display-name="<%= col.displayName %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayValue && col.displayValue != ''){ -%>
                            <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                        <%_ } _%>></le-radio-list>
                <%_ } -%>
                <%_ if(col.type == "checkbox"){ -%>
                <le-checkbox-list<%  _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.dataSource && col.dataSource != ''){ -%>
                        <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayName && col.displayName != ''){ -%>
                        <%_  %> display-name="<%= col.displayName %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayValue && col.displayValue != ''){ -%>
                        <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                    <%_ } _%>></le-checkbox-list>
                <%_ } -%>
                <%_ if(col.type == "datepicker"){ -%>
                <le-date-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>></le-date-picker>
                <%_ } -%>
                <%_ if(col.type == "timepicker"){ -%>
                <le-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>></le-time-picker>
                <%_ } _%>
                <%_ if(col.type == "dateTimepicker"){ -%>
                <le-date-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%= col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>
                ></le-date-time-picker>
                <%_ } _%>
            </div>
        <%_ _%><% }) -%>
        </div>
        <div class="le_search_btn_group cleatfix">
            <le-button type="create" value="create" @click="create"></le-button>
            <le-button type="search" value="search" @click="search"></le-button>
        </div>
        <div class='le_table_container'>
            <table-list title="<%= data.tableTitle %>" ref='tableListRef' :options='list_table_options'></table-list>
        </div>
        <%_ if(data.hasModel){ _%>
        <le-dialog v-model = "dialogTag">
            <div slot = "body">
              <%- include(data.includeFormPath, {data: data.model.modelArray, model: data.model.modelDataName}) %>
            </div>
            <div slot="button">
                <le-button type="cancel" value="取消" @click = "dialogCancel"></le-button>
                <le-button type="save" value="确定"  @click = "dialogConfirm"></le-button>
            </div>
        </le-dialog>
        <%_ } -%>
    </div>
</template>
<script>
import util from "@util/util.js";
<%_ if( data.hasStore){ -%>
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapActions,mapMutations } = createNamespacedHelpers('<%= data.store.storeName %>');
<%_ } -%>
<%_ if(data.hasModel){ -%>
import <%= data.model.modelClassName %> from '@model/<%= data.model.modelFileName %>';
<%_ } -%>
import <%= data.service.serviceClassName%> from '@services/<%= data.service.serviceFileName%>';
export default {
    name:"<%= data.componentName %>",
    data(){
        return {
            // 搜索条件
        searchModel:{
            <%_ data.searchModel.forEach(function(col){ -%>
                <%_ if(col.field && col.field != ""){ -%>
                <%= col.field %> : "",
                <%_ } -%>
            <%_ }) -%>
        },
            // dialog v-model的值 控制dialog显示/隐藏
            <%_ if(data.hasModel){ -%>
            dialogTag:false,
            <%= data.model.modelDataName %>: new <%= data.model.modelClassName %>(),
            <%_ } -%>
            // 表格的配置
            list_table_options: {
                map: <%- data.pageOpts.map %>,
                getUrl: ()=> {
                   return '<%= data.pageOpts.url%>'
                },
                pageOption: {
                    sizeKey: "<%= data.pageOpts.sizeKey%>",
                    indexKey: "<%= data.pageOpts.indexKey%>",
                    index: 1,
                    size: 20
                },
                actions: [

                ],
                analysis: data => {
                if (
                    data &&
                    data.data &&
                    data.data.datas
                ) {
                    return {
                        data: data.data.datas,
                        count: data.data.totalCount
                    };
                } else {
                    return { data: [], count: 0 };
                }
            }
        }
    },
    computed:{
        <%_ if( data.hasStore){ -%>
        ...mapState([
            <%_ data.store.storeKeys.forEach(function(name){ -%>
            "<%= name%>",
            <%_ }) -%>
        ]),
        <%_ } -%>
    },
    methods:{
        <%_ if( data.hasStore){ -%>
        ...mapActions([
            <%_ data.store.storeActions.forEach(function(name){ -%>
            "<%= name%>",
            <%_ }) -%>
        ]),
        <%_ } -%>
        search(){
            this.$refs["tableListRef"].searchCurrentIndex();
        },
        create() {

        },
        <%_ if(data.hasModel){ _%>
        dialogConfirm(){},
        dialogCancel(){
            this.dialogTag = false;
        },
        <%_ }  -%>
    },
    mounted(){
    <%_ if( data.hasStore){ -%>
    <%_ data.store.storeActions.forEach(function(name){ -%>
      this.<%= name%>();
    <%_ }) -%>
    <%_ } -%>
    }
}
</script>
<style scoped>
    
</style>
