<template>
    <div class="le_comps_core_css">
        <h4 class="le_page_name"><%- data.pageTitle %></h4>
        <div class='le_list_search_pannel clearfix'>
            <%_ data.templateSearchModel.forEach(function(row){ -%>
            <div class="col<%= row.length %>"><%_ %>
                <%_ row.forEach(function(col){ -%>
                <%_ if(col.type == "text"){ -%>
                <le-input<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ -%>
                        <%_  %> placeholder = "<%= col.placeholder %>" <%_  -%>
                    <%_ } -%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<% col.labelWidth %>"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%- col.label %>:"<%_  -%>
                    <%_ } -%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%= col.field %>"<%_  -%>
                    <%_ } -%>></le-input>
                <%_ } -%>
                <%_ if(col.type == "textarea"){ -%>
                    <le-textarea<%  _%>
                            <%_ if(col.placeholder && col.placeholder != ''){ -%>
                            <%_  %> placeholder = "<%= col.placeholder %>" <%_  -%>
                            <%_ } -%>
                            <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                            <%_  %> labelWidth="<% col.labelWidth %>"<%_  -%>
                            <%_ } -%>
                            <%_ if(col.label && col.label != ''){ -%>
                            <%_  %> label="<%- col.label %>:"<%_  -%>
                            <%_ } -%>
                            <%_ if(col.field && col.field != ''){ -%>
                            <%_  %> v-model="searchModel.<%= col.field %>"<%_  -%>
                            <%_ } -%>></le-textarea>
                <%_ } -%>
                <%_ if(col.type == "select"){ -%>
                <le-local-select<%  _%>
                            <%_ if(col.placeholder && col.placeholder != ''){ _%>
                                <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                                <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.label && col.label != ''){ -%>
                                <%_  %> label="<%- col.label %>:"<%  -%>
                            <%_ } _%>
                            <%_ if(col.field && col.field != ''){ -%>
                                <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.dataSource && col.dataSource != ''){ -%>
                                <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayName && col.displayName != ''){ -%>
                                <%_  %> display-name="<%= col.displayName %>"<%  -%>
                            <%_ } _%>
                            <%_ if(col.displayValue && col.displayValue != ''){ -%>
                                <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                            <%_ } _%>></le-local-select>
                <%_ } -%>
                <%_ if(col.type == "radio"){ -%>
                <le-radio-list<%  _%>
                        <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                            <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.label && col.label != ''){ -%>
                            <%_  %> label="<%- col.label %>:"<%  -%>
                        <%_ } _%>
                        <%_ if(col.field && col.field != ''){ -%>
                            <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.dataSource && col.dataSource != ''){ -%>
                            <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayName && col.displayName != ''){ -%>
                            <%_  %> display-name="<%= col.displayName %>"<%  -%>
                        <%_ } _%>
                        <%_ if(col.displayValue && col.displayValue != ''){ -%>
                            <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                        <%_ } _%>></le-radio-list>
                <%_ } -%>
                <%_ if(col.type == "checkbox"){ -%>
                <le-checkbox-list<%  _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ _%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%- col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.dataSource && col.dataSource != ''){ -%>
                        <%_  %> :data-source="<%= col.dataSource %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayName && col.displayName != ''){ -%>
                        <%_  %> display-name="<%= col.displayName %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.displayValue && col.displayValue != ''){ -%>
                        <%_  %> display-value="<%= col.displayValue %>"<%  -%>
                    <%_ } _%>></le-checkbox-list>
                <%_ } -%>
                <%_ if(col.type == "datepicker"){ -%>
                <le-date-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%- col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>></le-date-picker>
                <%_ } -%>
                <%_ if(col.type == "timepicker"){ -%>
                <le-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%- col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>></le-time-picker>
                <%_ } _%>
                <%_ if(col.type == "dateTimepicker"){ -%>
                <le-date-time-picker<%  _%>
                    <%_ if(col.placeholder && col.placeholder != ''){ _%>
                        <%_  %> placeholder = "<%= col.placeholder %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.labelWidth && col.labelWidth != ''){ -%>
                        <%_  %> labelWidth="<%= col.labelWidth %>"<%  -%>
                    <%_ } _%>
                    <%_ if(col.label && col.label != ''){ -%>
                        <%_  %> label="<%- col.label %>:"<%  -%>
                    <%_ } _%>
                    <%_ if(col.field && col.field != ''){ -%>
                        <%_  %> v-model="searchModel.<%=col.field%>"<%  -%>
                    <%_ } _%>
                ></le-date-time-picker>
                <%_ } _%>
                <%_ _%><% }) -%>
            </div>
        <%_ _%><% }) -%>
        </div>
        <div class="le_search_btn_group cleatfix">
            <%_ if(data.hasCreate){ _%>
            <le-button type="create" value="create" @click="create"></le-button>
            <%_ } -%>
            <le-button type="search" value="search" @click="search"></le-button>
            <%_ data.toolbar.forEach(function(col){ -%>
            <le-button type="<%= col.type%>" value="<%- col.value%>" @click="<%= col.fnName%>"></le-button>
            <%_ }) -%>
        </div>
        <div class='le_table_container'>
            <table-list title="<%- data.tableTitle %>" ref='tableListRef' :options='list_table_options'></table-list>
        </div>
        <%_ if(data.hasDialog){ _%>
        <Dialog @create="search" @update="search" ref="dialogRef" />
        <%_ } -%>
    </div>
</template>
<script>
import util from "@util/util.js";
import KEYS from "@constant/index.js";

<%_ if( data.hasDialog){ -%>
import Dialog from "./dialog.vue";
<%_ } -%>

import { createNamespacedHelpers } from 'vuex';
<%_ if( data.hasCommonStore){ -%>
const CommonStore = createNamespacedHelpers('CommonStore');
<%_ } -%>
<%_ if( data.hasStore){ -%>
const <%= data.store.storeName %> = createNamespacedHelpers('<%= data.store.storeName %>');
<%_ } -%>

<%_ if(data.hasModel){ -%>
import <%= data.model.modelClassName %> from '@model/<%= data.model.modelFileName %>';
<%_ } -%>
import <%= data.service.serviceClassName%> from '@services/<%= data.service.serviceFileName%>';
export default {
    name:"<%= data.componentName %>",
    <%_ if( data.hasDialog){ -%>
    components: {
        Dialog,
    },
    <%_ } -%>
    data(){
        return {
            // 搜索条件
            searchModel:{
            <%_ data.searchModel.forEach(function(col){ -%>
                <%_ if(col.field && col.field != ""){ -%>
                <%= col.field %> : "",
                <%_ } -%>
            <%_ }) -%>
            },

            <%_ if(data.hasModel){ -%>
            dialogTag:false,
            <%= data.model.modelDataName %>: new <%= data.model.modelClassName %>(),
            <%_ } -%>
            // 表格的配置
            list_table_options: {
                <%_ if( data.pageOpts.isCheckbox){ -%>
                showCk: true,
                <%_ } -%>
                <%_ if( data.pageOpts.isRadio){ -%>
                showCk: true,
                singleSelected: true,
                <%_ } -%>
                map: [
                    <%_ data.pageOpts.map.forEach(function(item){ -%>
                    {key:'<%- item.key %>',val:'<%- item.val%>'},
                    <%_ }) -%>
                ],
                getUrl: ()=> {
                   return <%- data.pageOpts.url%>;
                },
                pageOption: {
                    sizeKey: "<%= data.pageOpts.sizeKey%>",
                    indexKey: "<%= data.pageOpts.indexKey%>",
                    index: 1,
                    size: 20
                },
                actions: [
                    <%_ data.pageOpts.actionServices.forEach(function(item){ -%>
                    <%_ if(item.key != "create"){ -%>
                    {key:'<%- item.key %>',val:'<%- item.value%>',action:this.<%- item.actionName%>},
                    <%_ } -%>
                    <%_ }) -%>
                ],
                analysis: data => {
                    if (data &&data.data &&data.data.datas) {
                        return {
                            data: data.data.datas,
                            count: data.data.totalCount
                        };
                    } else {
                        return { data: [], count: 0 };
                    }
                }
            }
        }
    },
    computed:{
        <%_ if( data.hasStore){ -%>
        ...<%= data.store.storeName %>.mapState([
            <%_ data.store.storeKeys.forEach(function(name){ -%>
            "<%= name%>",
            <%_ }) -%>
        ]),
        <%_ } -%>
        
        <%_ if( data.hasCommonStore){ -%>
        ...CommonStore.mapState([
            <%_ data.commonStores.forEach(function(item){ -%>
            "<%= item.name%>",
            <%_ }) -%>
        ])
        <%_ } -%>
    },
    methods:{
        <%_ if( data.hasStore){ -%>
        ...<%= data.store.storeName %>.mapActions([
            <%_ data.store.storeActions.forEach(function(name){ -%>
            "<%= name%>",
            <%_ }) -%>
        ]),
        <%_ } -%>
        
        <%_ if( data.hasCommonStore){ -%>
        ...CommonStore.mapActions([
            <%_ data.commonStores.forEach(function(item){ -%>
            "<%= item.fnName%>",
            <%_ }) -%>
        ]),
        <%_ } -%>
        search(){
            this.$refs["tableListRef"].searchCurrentIndex();
        },
        <%_ data.pageOpts.actionServices.forEach(function(item){ -%>
        <%_ if(item.key == 'create') { %>
        <%= item.actionName%>(row) {
            <%_ if(data.hasDialog){ _%>
            this.$refs.dialogRef.show({action:KEYS.GOLBAL.ACTION.CREATE,item:null});
            <%_ }else {  -%>
            this.$router.push({path: 'this is path', query: {tag: KEYS.GOLBAL.ACTION.CREATE, id: -1}});
            <%_ }  -%>
        },
        <%_ }  -%>
        <%_ if(item.key == 'update'){  -%>
        <%= item.actionName%>(row) {
            <%_ if(data.hasDialog){ _%>
            this.$refs.dialogRef.show({action:KEYS.GOLBAL.ACTION.UPDATE,item:row});
            <%_ }else {  -%>
            this.$router.push({path: 'this is path', query: {tag: KEYS.GOLBAL.ACTION.UPDATE, id: row.id}});
            <%_ }  -%>
        },
        <%_ }  -%>
        <%_ if(item.key == 'detail'){  -%>
        <%= item.actionName%>(row) {
            <%_ if(data.hasDialog){ _%>
            this.$refs.dialogRef.show({action:KEYS.GOLBAL.ACTION.DETAIL,item:row});
            <%_ }else {  -%>
            this.$router.push({path: 'this is path', query: {tag: KEYS.GOLBAL.ACTION.DETAIL, id: row.id}});
            <%_ }  -%>
        },
        <%_ }  -%>
        <%_ if(item.key == 'remove'){  -%>
        <%= item.actionName%>(row) {
            this.alert.showConfirm('Remove this item?',(d)=>{
                this.<%= data.model.modelDataName %>.set(row);
                <%= data.service.serviceClassName%>.remove(this.<%= data.model.modelDataName %>.get()).then(x=>{
                    this.alert.showAlert("success",'Remove success!');
                    this.search();
                }).catch(err=>{
                    this.alert.showAlert("error",err.msg);
                });
            })
        },
        <%_ }  -%>
        <%_ }) -%>
        <%_ data.toolbar.forEach(function(col){ -%>
        <%= col.fnName%>() {

        },
        <%_ }) -%>
    },
    mounted(){
    <%_ if( data.hasStore){ -%>
        //self store
    <%_ data.store.storeActions.forEach(function(name){ -%>
        this.<%= name%>().then(x=>{}).catch(err=>{this.alert.showAlert("error",err.msg);});
    <%_ }) -%>
    <%_ } -%>
    <%_ if( data.hasCommonStore){ -%>
        //common store
        <%_ data.commonStores.forEach(function(item){ -%>
        this.<%= item.fnName%>().then(x=>{}).catch(err=>{this.alert.showAlert("error",err.msg);});
        <%_ }) -%>
    <%_ } -%>
    }
}
</script>
<style scoped>
    
</style>
